# Task for DA Intern Position at SberMarket

## 1. SQL

**Objective**: Identify the department head whose employee currently receives the highest salary.

**Data Structure**:

Table `employees`:
- `head` - department head (each head is unique)
- `employee` - employee (each employee is unique)

Table `salaries`:
- `employee` - employee (each employee is unique)
- `salary` - salary
- `date` - salary update date

**Sample Data**:

The following data is provided for testing purposes:

```sql
CREATE TABLE salaries(
    employee VARCHAR(5),
    salary INT,
    date DATE
);

INSERT INTO salaries(employee, salary, date) VALUES ('tom', '2342', '2023-01-14');
INSERT INTO salaries(employee, salary, date) VALUES ('tom', '2345', '2023-03-17');
INSERT INTO salaries(employee, salary, date) VALUES ('nick', '5424', '2022-04-01');
INSERT INTO salaries(employee, salary, date) VALUES ('nick', '5500', '2023-03-01');
INSERT INTO salaries(employee, salary, date) VALUES ('juli', '4566', '2021-04-03');
INSERT INTO salaries(employee, salary, date) VALUES ('juli', '6000', '2024-01-12');
INSERT INTO salaries(employee, salary, date) VALUES ('axel', '12444', '2022-05-17');
INSERT INTO salaries(employee, salary, date) VALUES ('axel', '14000', '2023-11-12');
INSERT INTO salaries(employee, salary, date) VALUES ('henry', '1244', '2021-03-19');
INSERT INTO salaries(employee, salary, date) VALUES ('henry', '7000', '2023-02-09');
INSERT INTO salaries(employee, salary, date) VALUES ('tomas', '2345', '2024-02-02');
INSERT INTO salaries(employee, salary, date) VALUES ('tomas', '4000', '2024-02-09');
INSERT INTO salaries(employee, salary, date) VALUES ('fiona', '1000', '2023-07-31');
INSERT INTO salaries(employee, salary, date) VALUES ('fiona', '1200', '2024-01-29');
INSERT INTO salaries(employee, salary, date) VALUES ('ben', '1244', '2021-12-14');
INSERT INTO salaries(employee, salary, date) VALUES ('ben', '7001', '2023-03-27');
INSERT INTO salaries(employee, salary, date) VALUES ('shen', '6000', '2022-02-18');
INSERT INTO salaries(employee, salary, date) VALUES ('shen', '7001', '2024-01-28');
INSERT INTO salaries(employee, salary, date) VALUES ('lora', '4050', '2023-08-30');
INSERT INTO salaries(employee, salary, date) VALUES ('lora', '7400', '2024-01-19');

CREATE TABLE employees(
    head VARCHAR(6),
    employee VARCHAR(5)
);

INSERT INTO employees(head, employee) VALUES ('donald', 'tom');
INSERT INTO employees(head, employee) VALUES ('olaf', 'nick');
INSERT INTO employees(head, employee) VALUES ('jacob', 'juli');
INSERT INTO employees(head, employee) VALUES ('donald', 'axel');
INSERT INTO employees(head, employee) VALUES ('olaf', 'henry');
INSERT INTO employees(head, employee) VALUES ('jacob', 'tomas');
INSERT INTO employees(head, employee) VALUES ('donald', 'fiona');
INSERT INTO employees(head, employee) VALUES ('olaf', 'ben');
INSERT INTO employees(head, employee) VALUES ('jacob', 'shen');
INSERT INTO employees(head, employee) VALUES ('doanld', 'lora');
```

### Solution

```sql
-- Find the most recent (by date) salary for each employee
WITH LatestSalaries AS (
    SELECT 
        employee,
        salary
    FROM 
        salaries s1
    WHERE 
        date = (SELECT MAX(date) 
                FROM salaries s2 
                WHERE s1.employee = s2.employee)
)


-- Join the most recent salaries with the employees table, sort by salary, and output the department head's name
SELECT 
    e.head
FROM 
    LatestSalaries ls
JOIN 
    employees e ON ls.employee = e.employee
ORDER BY 
    ls.salary DESC
LIMIT 1;
```

## 2. Pandas

**Objective**: Imagine that the database management system is not working, but you have two files `employees.csv` and `salaries.csv`. Find the department head whose employee currently receives the highest salary.

In [1]:
import pandas as pd

employees = [['donald', 'tom'],
             ['olaf', 'nick'],
             ['jacob', 'juli'],
             ['donald', 'axel'],
             ['olaf', 'henry'],
             ['jacob', 'tomas'],
             ['donald', 'fiona'],
             ['olaf', 'ben'],
             ['jacob', 'shen'],
             ['doanld', 'lora']]

employees = pd.DataFrame(employees, columns=['head', 'employee'])

salaries = [['tom', 2342, '2023-01-14'],
            ['tom', 2345, '2023-03-17'],
            ['nick', 5424, '2022-04-01'],
            ['nick', 5500, '2023-03-01'],
            ['juli', 4566, '2021-04-03'],
            ['juli', 6000, '2024-01-12'],
            ['axel', 12444, '2022-05-17'],
            ['axel', 14000, '2023-11-12'],
            ['henry', 1244, '2021-03-19'],
            ['henry', 7000, '2023-02-09'],
            ['tomas', 2345, '2024-02-02'],
            ['tomas', 4000, '2024-02-09'],
            ['fiona', 1000, '2023-07-31'],
            ['fiona', 1200, '2024-01-29'],
            ['ben', 1244, '2021-12-14'],
            ['ben', 7001, '2023-03-27'],
            ['shen', 6000, '2022-02-18'],
            ['shen', 7001, '2024-01-28'],
            ['lora', 4050, '2023-08-30'],
            ['lora', 7400, '2024-01-19']]

salaries = pd.DataFrame(salaries, columns=['employee', 'salary', 'date'])

### Solution

In [2]:
# Transform date to datetime
salaries['date'] = pd.to_datetime(salaries['date'])

# Sort by date and keep only the latest salary for each employee
latest_salaries = salaries.sort_values(by='date', ascending=False).drop_duplicates('employee', keep='first')

# Merge employees and salaries
merged = latest_salaries.merge(employees, on='employee')

# Find the department head whose employee currently has the highest salary
result = merged.loc[merged['salary'].idxmax()]
print(f'The department head whose employee currently receives the highest salary is {result["head"].capitalize()}')

The department head whose employee currently receives the highest salary is Donald

## 3. Parsing

**Objective**: Write a function to parse the <a href="https://www.avito.ru/">Avito</a> website that takes a car brand and model as input and returns a DataFrame with the relevant offers. The DataFrame should include the offer title, the link to the offer page, and the price. You are allowed to use any libraries for parsing.

### Solution

In [3]:
import logging
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

In [4]:
def avito_parser(brand: str, model: str) -> pd.DataFrame:
    """
    Function to parse car offers from avito.ru for a specific brand and model.

    Parameters:
    brand (str): The car brand to search for.
    model (str): The car model to search for.

    Returns:
    pd.DataFrame: DataFrame containing the offer title, link to the offer, and the car price.
    """

    # Set up logging
    logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
    logger = logging.getLogger(__name__)
    logger.info(f'Starting parser for brand: {brand}, model: {model}.')

    # Configure the browser in headless mode
    options = Options()
    options.add_argument('--headless=new')
    driver = webdriver.Chrome(options=options)

    try:
        # Form the URL and navigate to the offers page
        url = f'https://www.avito.ru/all/avtomobili/{brand}/{model}'
        logger.info(f'Navigating to page: {url}.')
        driver.get(url)
        driver.implicitly_wait(10)

        # Find all offers on the page
        offers = driver.find_elements(By.XPATH, '//div[@data-marker="item"]')
        logger.info(f'Found {len(offers)} offers.')

        # Create an empty DataFrame to store the information
        df = pd.DataFrame(columns=['Title', 'Link', 'Price, RUB'])

        # Set maximum display length for strings
        pd.set_option('display.max_colwidth', None)

        # Gather information about each offer
        for i, offer in enumerate(offers):
            try:
                # Find the title, link, and price
                title = offer.find_element(By.XPATH, './/h3[@itemprop="name"]').text
                link = offer.find_element(By.XPATH, './/a[@itemprop="url"]').get_attribute('href')
                price = offer.find_element(By.XPATH, './/meta[@itemprop="price"]').get_attribute('content')
                price_formatted = '{:,}'.format(int(price)).replace(',', ' ')

                # Add the information to the DataFrame
                df.loc[len(df)] = {'Title': title, 'Link': link, 'Price, RUB': price_formatted}
                logger.info(f'Processed offer {i+1}: {title}, {price_formatted} RUB.')
            except Exception as e:
                logger.error(f'Error processing offer {i+1}: {e}.')

    except Exception as e:
        logger.error(f'Error accessing Avito: {e}.')

    finally:
        # Close the browser
        driver.quit()
        logger.info('Parsing completed.')

    return df

In [5]:
# Test the function
brand = 'mercedes-benz'
model = 's-klass_amg'
df = avito_parser(brand, model)

2024-05-23 16:05:06,784 - INFO - Starting parser for brand: mercedes-benz, model: s-klass_amg.
2024-05-23 16:05:13,723 - INFO - Navigating to page: https://www.avito.ru/all/avtomobili/mercedes-benz/s-klass_amg.
2024-05-23 16:05:27,129 - INFO - Found 53 offers.
2024-05-23 16:05:28,250 - INFO - Processed offer 1: Mercedes-Benz S-класс AMG 5.5 AT, 2013, 67 757 км, 5 259 000 RUB.
2024-05-23 16:05:28,666 - INFO - Processed offer 2: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 165 223 км, 5 600 000 RUB.
2024-05-23 16:05:29,073 - INFO - Processed offer 3: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 4 227 км, 31 300 000 RUB.
2024-05-23 16:05:34,450 - INFO - Processed offer 4: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 20 км, 26 500 000 RUB.
2024-05-23 16:05:34,914 - INFO - Processed offer 5: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 115 000 км, 6 899 999 RUB.
2024-05-23 16:05:37,722 - INFO - Processed offer 6: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 137 000 км, 5 249 000 RUB.
2024-05-23 16:05:38,079 - INFO - Processed offer 7: Mercedes-Benz S-класс AMG 4.0 AT, 2017, 87 300 км, 9 600 000 RUB.
2024-05-23 16:05:38,218 - INFO - Processed offer 8: Mercedes-Benz S-класс AMG 5.5 AT, 2016, 105 000 км, 6 200 000 RUB.
2024-05-23 16:05:38,346 - INFO - Processed offer 9: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 33 900 000 RUB.
2024-05-23 16:05:38,497 - INFO - Processed offer 10: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 53 570 000 RUB.
2024-05-23 16:05:38,722 - INFO - Processed offer 11: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 38 029 900 RUB.
2024-05-23 16:05:38,900 - INFO - Processed offer 12: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 75 477 км, 5 100 000 RUB.
2024-05-23 16:05:39,037 - INFO - Processed offer 13: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 64 995 км, 6 639 000 RUB.
2024-05-23 16:05:39,139 - INFO - Processed offer 14: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 33 500 км, 7 495 000 RUB.
2024-05-23 16:05:39,248 - INFO - Processed offer 15: Mercedes-Benz S-класс AMG 4.0 AT, 2018, 68 000 км, 9 300 000 RUB.
2024-05-23 16:05:39,352 - INFO - Processed offer 16: Mercedes-Benz S-класс AMG 4.0 AT, 2019, 38 000 км, 13 500 000 RUB.
2024-05-23 16:05:39,466 - INFO - Processed offer 17: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 15 км, 33 490 000 RUB.
2024-05-23 16:05:39,588 - INFO - Processed offer 18: Mercedes-Benz S-класс AMG 4.0 AT, 2017, 94 844 км, 8 720 000 RUB.
2024-05-23 16:05:39,735 - INFO - Processed offer 19: Mercedes-Benz S-класс AMG 5.5 AT, 2010, 255 000 км, 2 500 000 RUB.
2024-05-23 16:05:39,835 - INFO - Processed offer 20: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 13 км, 33 490 000 RUB.
2024-05-23 16:05:39,934 - INFO - Processed offer 21: Mercedes-Benz S-класс AMG 6.0 AT, 2007, 116 000 км, 2 400 000 RUB.
2024-05-23 16:05:40,051 - INFO - Processed offer 22: Mercedes-Benz S-класс AMG 4.0 AT, 2024, 10 км, 33 994 000 RUB.
2024-05-23 16:05:40,150 - INFO - Processed offer 23: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 12 км, 33 490 000 RUB.
2024-05-23 16:05:40,244 - INFO - Processed offer 24: Mercedes-Benz S-класс AMG 4.0 AT, 2017, 120 000 км, 8 000 000 RUB.
2024-05-23 16:05:40,448 - INFO - Processed offer 25: Mercedes-Benz S-класс AMG 6.2 AT, 2009, 252 000 км, 2 900 000 RUB.
2024-05-23 16:05:40,583 - INFO - Processed offer 26: Mercedes-Benz S-класс AMG 5.5 AT, 2014, 164 000 км, 5 250 000 RUB.
2024-05-23 16:05:40,697 - INFO - Processed offer 27: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 13 км, 33 490 000 RUB.
2024-05-23 16:05:40,804 - INFO - Processed offer 28: Mercedes-Benz S-класс AMG 4.0 AT, 2018, 30 470 км, 13 494 000 RUB.
2024-05-23 16:05:40,943 - INFO - Processed offer 29: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 165 000 км, 6 000 000 RUB.
2024-05-23 16:05:41,061 - INFO - Processed offer 30: Mercedes-Benz S-класс AMG 6.2 AT, 2007, 231 000 км, 750 000 RUB.
2024-05-23 16:05:41,156 - INFO - Processed offer 31: Mercedes-Benz S-класс AMG 5.5 AT, 2014, 142 000 км, 5 200 000 RUB.
2024-05-23 16:05:41,251 - INFO - Processed offer 32: Mercedes-Benz S-класс AMG 5.5 AT, 2014, 195 000 км, 4 800 000 RUB.
2024-05-23 16:05:41,351 - INFO - Processed offer 33: Mercedes-Benz S-класс AMG 5.5 AT, 2017, 66 000 км, 7 600 000 RUB.
2024-05-23 16:05:41,462 - INFO - Processed offer 34: Mercedes-Benz S-класс AMG 5.5 AT, 2014, 180 000 км, 4 950 000 RUB.
2024-05-23 16:05:41,604 - INFO - Processed offer 35: Mercedes-Benz S-класс AMG 6.2 AT, 2008, 179 000 км, 1 499 999 RUB.
2024-05-23 16:05:41,706 - INFO - Processed offer 36: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 139 333 км, 6 148 000 RUB.
2024-05-23 16:05:41,809 - INFO - Processed offer 37: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 118 000 км, 5 500 000 RUB.
2024-05-23 16:05:41,900 - INFO - Processed offer 38: Mercedes-Benz S-класс AMG 5.5 AT, 2014, 89 000 км, 5 850 000 RUB.
2024-05-23 16:05:42,008 - INFO - Processed offer 39: Mercedes-Benz S-класс AMG 4.0 AT, 2020, 15 538 км, 16 500 000 RUB.
2024-05-23 16:05:42,101 - INFO - Processed offer 40: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 38 029 900 RUB.
2024-05-23 16:05:42,192 - INFO - Processed offer 41: Mercedes-Benz S-класс AMG 5.5 AT, 2016, 78 000 км, 8 200 000 RUB.
2024-05-23 16:05:42,289 - INFO - Processed offer 42: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 33 км, 27 350 000 RUB.
2024-05-23 16:05:42,389 - INFO - Processed offer 43: Mercedes-Benz S-класс AMG 6.0 AT, 2004, 100 000 км, 8 000 000 RUB.
2024-05-23 16:05:42,481 - INFO - Processed offer 44: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 37 км, 34 490 000 RUB.
2024-05-23 16:05:42,573 - INFO - Processed offer 45: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 193 000 км, 4 290 000 RUB.
2024-05-23 16:05:42,666 - INFO - Processed offer 46: Mercedes-Benz S-класс AMG 6.2 AT, 2008, 248 300 км, 2 350 000 RUB.
2024-05-23 16:05:42,756 - INFO - Processed offer 47: Mercedes-Benz S-класс AMG 4.0 AT, 2018, 99 000 км, 9 500 000 RUB.
2024-05-23 16:05:42,847 - INFO - Processed offer 48: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 43 490 000 RUB.
2024-05-23 16:05:42,941 - INFO - Processed offer 49: Mercedes-Benz S-класс AMG 5.5 AT, 2015, 89 000 км, 5 300 000 RUB.
2024-05-23 16:05:43,036 - INFO - Processed offer 50: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 490 км, 30 990 000 RUB.
2024-05-23 16:05:43,126 - INFO - Processed offer 51: Mercedes-Benz S-класс AMG 4.0 AT, 2020, 46 620 км, 12 440 000 RUB.
2024-05-23 16:05:43,217 - INFO - Processed offer 52: Mercedes-Benz S-класс AMG 6.0 AT, 2020, 200 км, 33 500 000 RUB.
2024-05-23 16:05:43,310 - INFO - Processed offer 53: Mercedes-Benz S-класс AMG 4.0 AT, 2023, 20 км, 35 500 000 RUB.
2024-05-23 16:05:45,768 - INFO - Parsing completed.

In [6]:
# Check the results
df.head()

,Title,Link,"Price, RUB"
0,"Mercedes-Benz S-класс AMG 5.5 AT, 2013, 67 757 км",https://www.avito.ru/moskva/avtomobili/mercedes-benz_s-klass_amg_5.5_at_2013_67_757_km_3653843460,5 259 000
1,"Mercedes-Benz S-класс AMG 5.5 AT, 2015, 165 223 км",https://www.avito.ru/sankt-peterburg/avtomobili/mercedes-benz_s-klass_amg_5.5_at_2015_165_223_km_3784600424,5 600 000
2,"Mercedes-Benz S-класс AMG 4.0 AT, 2023, 4 227 км",https://www.avito.ru/moskva/avtomobili/mercedes-benz_s-klass_amg_4.0_at_2023_4_227_km_3920570627,31 300 000
3,"Mercedes-Benz S-класс AMG 4.0 AT, 2023, 20 км",https://www.avito.ru/moskva/avtomobili/mercedes-benz_s-klass_amg_4.0_at_2023_20_km_3850831415,26 500 000
4,"Mercedes-Benz S-класс AMG 5.5 AT, 2015, 115 000 км",https://www.avito.ru/moskva/avtomobili/mercedes-benz_s-klass_amg_5.5_at_2015_115_000_km_3848979273,6 899 999

In [7]:
# Save the results to a CSV file
output_file = f'Avito_{brand}_{model}.csv'
df.to_csv(output_file, index=False, encoding='utf-8-sig')